<!DOCTYPE html>
<link rel="stylesheet" href="../css/avaliacao-style.css">
<meta charset="utf-8">
<html lang="pt-br">


<section id="bloco-avaliacao">

  <div class="titulo">
    <h1>Avaliação</h1>
  </div>

  <div id="slideshow-container">
    <div class="mySlides">
      <img src="../img/usuario1.jpg" style="width:100%">
      <h3 class="e">Anderson</h3>
      <p class="d">Blabla bla Blabla bla Blabla blaBlabla blaBlabla bla</p>
    </div>

    <div class="mySlides">
      <img src="../img/usuario2.jpg" style="width:100%">
      <h3 class="e">Reginaldo</h3>
      <p class="d">Tanana Tanana Tanana TananaTanana Tanana</p>
    </div>

    <div class="mySlides">
      <img src="../img/usuario3.jpg" style="width:100%">
      <h3 class="e">Leonardo</h3>
      <p class="d">lalala lala lalala lala lalala lala</p>
    </div>

    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>

  </div>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

  <script src="../scripts/slider_avaliacao.js"></script>

</section>

</html>