<link rel="stylesheet" type="text/css" href="../css/resetmin.css"/>
<style>
    footer {
        background-color: brown;
    }
    footer nav {
        text-align: center;
    }
    footer li {
        display: inline-block;
    }
    footer li:not(:first-child) {
        margin-left: 10em;
    }
    footer img {
        width: 50px;
        padding: 0.25em;
        vertical-align: middle;
    }
    footer a {
        color: white;
        text-decoration: none;
        vertical-align: middle;
        font-size: 24px;
    }
    footer a:hover {
        color: blue;
        text-decoration: underline;
    }
</style>
<footer>
    <nav>
        <li><img src="../img/logo/instalogo.webp" alt="Instagram"><a href="#">Instagram</a></li>
        <li><img src="../img/logo/whatslogo.webp" alt="Whatsapp"><a href="#">Whatsapp</a></li>
    </nav>
</footer>