<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/barbeiro-styles.css">
    <title>Cadastro</title>
</head>

<body>

    <div id="titulo">
        <h1>Hub Barbeiro</h1>
        <br><br>
    </div>

    <!-- cor do bloco onde fica os inputs-->
    <div id="bloco">

        <div id="sub-titulo">
            <h3>Opções:</h3>
            <br><br>
        </div>
        <ul>
            <div>
                <a href="agendados_barbeiro.php"><img src="../img/calendar.png" alt="Tabela de Agendas">
                    <p>Agenda</p>
                </a>
            </div>
            <div>
                <a href="pessoas_barbeiro.php"><img src="../img/pessoas.png" alt="Pessoas Cadastradas">
                    <p>Cadastrados</p>
                </a>
            </div>
            <div>
                <a href="feedbacks.php"><img src="../img/3039564.png" alt="Tabela de Feedbacks">
                    <p>Feedback</p>
                </a>
            </div>
    
            <div>
                <a href="index.php"><img src="../img/enter.png" alt="Botão de Sair">
                    <p>Sair</p>
                </a>
            </div>
        </ul>
        
    </div>
</body>
</html>