<link rel="stylesheet" type="text/css" href="../css/resetmin.css"/>
<link rel="stylesheet" href="../css/nosso-estabelecimento-style.css">
<html>
    <div id="nosso_estabelecimento">
        <div id="titulo"><h3>Nosso Estabelecimento</h3></div>
        <div id="maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3507.375695673265!2d-49.001341085213205!3d-28.468230266716287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95214303350ac019%3A0x9a0bea4bedff7e82!2sFaculdade%20Senac%20Tubar%C3%A3o!5e0!3m2!1spt-BR!2sbr!4v1656029707699!5m2!1spt-BR!2sbr"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    </div>
</html>