<!DOCTYPE html>
<link rel="stylesheet" href="../css/Sobre-style.css">
<section id="bloco-sobre">

	
	<h3>Sobre</h3>
	<p>Somos a barbearia Clube da navalha! Fundados em 2019, nossa função é deixar uma boa marca em nossos clientes com cortes estilizados e bem trabalhados. Ambiente calmo e amigável! Temos um atendimento personalizado para cada cliente e com horário marcado! Nossas navalhas estão sempre prontas para o que der e vier! Somos uma barbearia renomada em Tubarão localizada no centro da cidade!</p>
</section>